src/main/mule/bookmyshowv1.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd">
	<flow name="GetMovies" doc:id="9f26e5a1-8a47-454b-8bf6-987d0f757a98" >
		<http:listener doc:name="Listener" doc:id="d69ea81f-dc20-4d2d-a9a6-8009bf99c7fd" config-ref="HTTP_Listener_config" path="/movies"/>
		<db:select doc:name="Get Movie Details" doc:id="480cfdab-4fbf-41c4-81fd-5a8ad8605802" config-ref="Database_Config">
			<db:sql ><![CDATA[SELECT * from movies;]]></db:sql>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="8cae6f82-f4bb-4189-a7a8-812ae88406eb" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map (payloadSQL, payloadJSON) -> {
	movieID: payloadSQL.movieId,
	movieName: payloadSQL.movieName,
	startTime: payloadSQL.startTime,
	endTimeL: payloadSQL.endTime,
	theatreName: payloadSQL.theatreName
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="GetTicketDetails" doc:id="fa627a29-f863-4139-bc5c-06dd2616506f" >
		<http:listener doc:name="Listener" doc:id="9502695e-5d08-4fb0-a432-b12df9fca458" config-ref="HTTP_Listener_config" path="/ticketdetails"/>
		<db:select doc:name="Get Ticket Details" doc:id="7fab1676-7b08-4bce-80c7-b62c63f9e796" config-ref="Database_Config">
			<db:sql ><![CDATA[SELECT * from orders;
]]></db:sql>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="5c3223ad-bfee-4120-b6fb-73cb77428222" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map (payloadSQL, payloadOutput) -> {
	movieID: payloadSQL.movieId,
	ticketPrice: payloadSQL.ticketPrice,
	groupBuyDiscountNumTickets: payloadSQL.groupBuyDiscountNumTickets,
	groupBuyDiscountPercentage: payloadSQL.groupBuyDiscountPercentage,
	availableTickets: payloadSQL.availabletickets
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="bookmyshowv1Flow1" doc:id="9e3ac176-1340-4415-9e3f-af04e80006da" >
		<http:listener doc:name="Listener" doc:id="0b172102-c501-4d0a-b007-5062b47c4ad0" config-ref="HTTP_Listener_config" path="/order"/>
		<set-variable value="#[attributes.queryParams.movieId]" doc:name="Set Movie Id" doc:id="05eba66b-e02c-40bc-bd51-9cf190e456db" variableName="movieId"/>
		<logger level="INFO" doc:name="Logger" doc:id="82b1f7af-2ea4-427d-855a-ea07d9e67631" message="#[vars.movieId]"/>
		<set-variable value="#[attributes.queryParams.numTickets]" doc:name="Set Number of Tickets" doc:id="55fa0dbe-f17e-4a32-866f-b1a75e72f233" variableName="numTickets"/>
		<logger level="INFO" doc:name="Logger" doc:id="1adb4d49-52bf-4d1f-b191-27bc412f1f3a" message="#[vars.numTickets]"/>
		<db:select doc:name="Select" doc:id="7b2561f1-117b-433f-ab1b-5a6836fea099" config-ref="Database_Config">
			<db:sql ><![CDATA[SELECT availabletickets FROM orders WHERE movieId = :movieID ]]></db:sql>
			<db:input-parameters ><![CDATA[#[{'movieID':vars.movieId}]]]></db:input-parameters>
		</db:select>
		<set-variable value="#[payload.availabletickets[0] as Number]" doc:name="Set Variable" doc:id="8bbf5dce-984e-408a-9ae0-198603742709" variableName="availableTickets"/>
		<logger level="INFO" doc:name="Logger" doc:id="090f4ded-77e0-4c66-bcfd-34b8e445c029" message="Number of Available Tickets is #[vars.availableTickets]"/>
		<choice doc:name="Choice" doc:id="a4f58be2-b717-4d02-8f24-d818bd0730dc" >
			<when expression="#[vars.numTickets &lt;= vars.availableTickets]">
				<db:update doc:name="Update" doc:id="752296fe-4ca7-45d8-8afa-003f25bae8aa" config-ref="Database_Config">
					<db:sql ><![CDATA[UPDATE orders SET availabletickets = :ticketcount WHERE movieId=:movieID]]></db:sql>
					<db:input-parameters ><![CDATA[#[{'ticketcount':((vars.availableTickets as Number) as String {format:"00"}) as Number - ((vars.numTickets as Number) as String {format:"00"}) as Number,
'movieID':vars.movieId}]]]></db:input-parameters>
				</db:update>
				<db:select doc:name="Select" doc:id="58ee491e-5edd-4b93-9cde-16338b9cae65" config-ref="Database_Config">
					<db:sql ><![CDATA[SELECT groupBuyDiscountNumTickets FROM orders WHERE movieId= :movieID]]></db:sql>
					<db:input-parameters ><![CDATA[#[{'movieID':vars.movieId}]]]></db:input-parameters>
				</db:select>
				<set-variable value="#[payload.groupBuyDiscountNumTickets[0]]" doc:name="Set Group by discount Number of Tickets" doc:id="bfebb035-2688-48c2-8076-94c35f2e3271" variableName="groupTickets"/>
				<db:select doc:name="Calculate Price" doc:id="1db09a8c-8e0d-46d8-905a-3c8c99a5f2ce" config-ref="Database_Config">
							<db:sql><![CDATA[SELECT ticketPrice from orders WHERE movieId= :movieID]]></db:sql>
							<db:input-parameters><![CDATA[#[{'movieID':vars.movieId}]]]></db:input-parameters>
						</db:select>
				<set-variable value="#[payload.ticketPrice[0]]" doc:name="Set Variable" doc:id="e3e06bda-b75f-4d16-a574-bc12dc3dc6a8" variableName="ticketPrice" />
				<db:select doc:name="Select" doc:id="fdef2a01-6cee-4465-b3f3-e778de3ca6b4" config-ref="Database_Config">
							<db:sql><![CDATA[SELECT groupBuyDiscountPercentage from orders WHERE movieId= :movieID]]></db:sql>
							<db:input-parameters><![CDATA[#[{'movieID':vars.movieId}]]]></db:input-parameters>
						</db:select>
				<set-variable value="#[payload.groupBuyDiscountPercentage[0]]" doc:name="Set Variable" doc:id="d1134b9c-5668-4892-9ce0-bacd4b2fc5fc" variableName="groupBuyDiscount" />
				<choice doc:name="Choice" doc:id="7a30c525-4f1e-4697-8337-ae13b4863e8c" >
					<when expression='#[((vars.groupTickets as Number) as String {format:"00"} &lt;= (vars.numTickets as Number) as String {format:"00"} )]'>
						<ee:transform doc:name="Transform Message" doc:id="ad942603-1d3d-4961-888b-72aad760e6f9" >
							<ee:message >
								<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
((vars.numTickets as Number) as String {format:"00"}) as Number * ((vars.ticketPrice as Number) as String {format:"00"}) as Number * (100-((vars.groupBuyDiscount as Number) as String {format:"00"}) as Number)/100 

]]></ee:set-payload>
							</ee:message>
						</ee:transform>
						<set-variable value='#[((vars.numTickets as Number) as String {format:"00"}) as Number * ((vars.ticketPrice as Number) as String {format:"00"}) as Number * (100-((vars.groupBuyDiscount as Number) as String {format:"00"}) as Number)/100]' doc:name="Set Variable" doc:id="640fc126-bee5-4d97-bd19-6ad8e182c8d7" variableName="totalamount"/>
						<ee:transform doc:name="Transform Message" doc:id="de48f6ba-4ca6-42c5-a69d-bd3e16ce9ddd" >
							<ee:message >
								<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
vars.totalamount]]></ee:set-payload>
							</ee:message>
						</ee:transform>
					</when>
					<otherwise >
						<ee:transform doc:name="Transform Message" doc:id="77aced86-e0ed-4cda-b805-5ec66cf52983" >
							<ee:message >
								<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
((vars.numTickets as Number) as String {format:"00"}) as Number * ((vars.ticketPrice as Number) as String {format:"00"}) as Number

]]></ee:set-payload>
							</ee:message>
						</ee:transform>
						<set-variable value='#[((vars.numTickets as Number) as String {format:"00"}) as Number * ((vars.ticketPrice as Number) as String {format:"00"}) as Number]' doc:name="Set Variable" doc:id="e76b89b5-da25-440c-9a6e-50a7c4f8fd87" variableName="totalamount1"/>
						<ee:transform doc:name="Transform Message" doc:id="e2f69400-a889-456a-8be8-907a5fa1abf3" >
							<ee:message >
								<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
vars.totalamount1]]></ee:set-payload>
							</ee:message>
						</ee:transform>
					</otherwise>
				</choice>
			</when>
		</choice>
	</flow>
	<flow name="bookmyshowv1Flow" doc:id="b1d2708b-ac0e-499f-a6ab-1fcf4ac8b679" >
		<http:listener doc:name="Listener" doc:id="69918efd-8f33-4344-8f26-df8b95cdb8ad" config-ref="HTTP_Listener_config" path="/soap"/>
		<ee:transform doc:name="Transform Message" doc:id="a7e9223a-14c7-47a4-afa1-e3eced876f8d" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://DefaultNamespace
---
{
	ns0#getMovieDeails: vars
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume operation="getMovieDeails" doc:name="Consume" doc:id="e9e48f03-04f9-4453-a9a9-f51f83ad5930" config-ref="Web_Service_Consumer_Config"/>
		<logger level="INFO" doc:name="Logger" doc:id="05b3c55e-4142-4a81-9356-baf42eda8092" message="#[payload]"/>
		<ee:transform doc:name="Transform Message" doc:id="3a434820-fb35-454b-a435-6c3b70bb3707" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
---
{
	result:payload.body
}
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="bookmyshowv1Flow2" doc:id="8287d925-5492-4cee-99be-912833250a51" >
		<http:listener doc:name="Listener" doc:id="ff9a9c1b-2cbb-413f-a65f-d371e716cee6" config-ref="HTTP_Listener_config" path="/citest1"/>
		<ee:transform doc:name="Transform Message" doc:id="2664a592-5af7-446c-a9ce-10dd08a7a07b" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message":"ci test successful"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
